@model E_Commerce_Imovel.Models.Domicilio

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Domicilio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DomicilioId" />
            <div class="form-group">
                <label asp-for="CaracteristicaId" class="control-label"></label>
                <select asp-for="CaracteristicaId" class="form-control" asp-items="ViewBag.CaracteristicaId"></select>
                <span asp-validation-for="CaracteristicaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sobre" class="control-label"></label>
                <input asp-for="Sobre" class="form-control" />
                <span asp-validation-for="Sobre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publicacao" class="control-label"></label>
                <input asp-for="Publicacao" class="form-control" />
                <span asp-validation-for="Publicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
